@font-face {
    font-family: 'Quartz MS';
    src: url('./QuartzMSRegular.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quartz MS', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/default.jpeg');
    background-size: cover;
    background-position: center;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 218, 53, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Adicionado para limitar a largura em telas maiores */
    max-width: 500px; /* Adicionado para limitar a largura máxima */
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.digit {
    font-family: 'Quartz MS', monospace;
    font-size: 8vw;
    color: #ffffff;
    margin: 0 10px;
}

span {
    font-size: 6vw;
    color: #ffffff;
    padding: 0 10px;
}

.date {
    margin-top: 20px;
    font-size: 4vw;
    color: #ffffff;
}

.temperature {
    margin-top: 10px;
    font-size: 2vw;
    color: #ffffff;
    display: flex; /* Para que os filhos apareçam em linha */
    justify-content: center; /* Para centralizar o conteúdo */
    align-items: center; /* Para alinhar verticalmente */
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
    .clock-container {
        width: 95%; 
    }

    .digit {
        font-size: 12vw;
    }
    
    span {
        font-size: 10vw;
    }

    .date {
        font-size: 5vw;
    }

    .temperature {
        font-size: 3vw; /* Ajustando o tamanho da temperatura */
    }
}

/* Responsividade para telas menores que 480px */
@media (max-width: 480px) {
    .clock-container {
        width: 95%;
    }

    .digit {
        font-size: 16vw;
    }
    
    span {
        font-size: 12vw;
    }

    .date {
        font-size: 6vw;
    }

    .temperature {
        font-size: 4vw; /* Ajustando o tamanho da temperatura */
    }
}

/* Adicionando um intervalo para telas entre 481px e 768px */
@media (min-width: 481px) and (max-width: 768px) {
    .digit {
        font-size: 10vw; /* Tamanho intermediário para telas médias */
    }

    .date {
        font-size: 5vw; /* Tamanho intermediário para a data */
    }
}
